In [1]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy
import pandas as pd
import numpy as np
import json 
import requests
import matplotlib.pyplot as plt

In [2]:
# Generate latitudes(-90 to 90) and longitudes(-180 to 180) using random number generator and multiply by 100
cities_df=pd.DataFrame({"long":(np.random.uniform(-1.8,1.8,1200)*100), "lat":(np.random.uniform(-0.9,0.9,1200)*100)})

cities_df.head(5)

         long        lat
0   24.683284 -47.034539
1   47.874996 -62.338010
2 -133.961241 -56.267867
3  120.931427  47.016320
4  -83.457142  55.500567

In [3]:
cities_name=[]
countrycode=[]
for i in range(0,len(cities_df['lat'])):
    lat=cities_df.iloc[i]['lat']
    long=cities_df.iloc[i]["long"]
    city=citipy.nearest_city(lat, long)
    name=city.city_name
    cities_name.append(name)
    country=city.country_code
    countrycode.append(country)
    
cities_df['City']=cities_name
cities_df['Country']=countrycode
cities_df.head(10)

         long        lat           City Country
0   24.683284 -47.034539   kruisfontein      za
1   47.874996 -62.338010    east london      za
2 -133.961241 -56.267867        rikitea      pf
3  120.931427  47.016320     wulanhaote      cn
4  -83.457142  55.500567   attawapiskat      ca
5 -139.007105  -8.225426         atuona      pf
6   21.857783 -85.897110     bredasdorp      za
7  -74.036793 -84.262401        ushuaia      ar
8  -52.962348 -43.555676  mar del plata      ar
9  177.295087 -38.657075         wairoa      nz

In [9]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [4]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [5]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

cockburn town tc
gat ly
parvatsar in
punta arenas cl
saint george bm

In [6]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

0

In [16]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [18]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + '7ed6207ebdf7a3629fda9718ad01bfb3'
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7ed6207ebdf7a3629fda9718ad01bfb3

In [41]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Springfield" + ",USA"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7ed6207ebdf7a3629fda9718ad01bfb3&q=Springfield,USA

In [86]:
city_url = url + "&q=" + "Liverpool" + ",UK"
print(city_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7ed6207ebdf7a3629fda9718ad01bfb3&q=Liverpool,UK

In [87]:
alexandria_url = url + "zip=22301" + ",us"
print(alexandria_url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=7ed6207ebdf7a3629fda9718ad01bfb3zip=22301,us

In [88]:
print('http://api.openweathermap.org/data/2.5/weather?zip=22301,us&appid=7ed6207ebdf7a3629fda9718ad01bfb3')

http://api.openweathermap.org/data/2.5/weather?zip=22301,us&appid=7ed6207ebdf7a3629fda9718ad01bfb3