## Deliverable 2. Create a Customer Travel Destinations Map.

In [131]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [132]:
# 1. Import the WeatherPy_database.csv file. 
parentDirectory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))


city_data_df = pd.read_csv(os.path.join(parentDirectory, 'Weather_Database', 'WeatherPy_Database.csv'))
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Barrow,US,71.2906,-156.7887,-5.80,77,1,16.11,clear sky
1,1,Faanui,PF,-16.4833,-151.7500,81.52,75,94,14.65,light rain
2,2,Rikitea,PF,-23.1203,-134.9692,77.86,77,19,13.89,few clouds
3,3,Carauari,BR,-4.8828,-66.8958,79.99,88,96,0.13,light rain
4,4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.60,69,0,23.02,clear sky

In [133]:
city_data_df.drop(columns=['Unnamed: 0'])

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,Barrow,US,71.2906,-156.7887,-5.80,77,1,16.11,clear sky
1,Faanui,PF,-16.4833,-151.7500,81.52,75,94,14.65,light rain
2,Rikitea,PF,-23.1203,-134.9692,77.86,77,19,13.89,few clouds
3,Carauari,BR,-4.8828,-66.8958,79.99,88,96,0.13,light rain
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.60,69,0,23.02,clear sky
...,...,...,...,...,...,...,...,...,...
704,Khandbari,NP,27.3747,87.2039,49.35,64,25,2.39,scattered clouds
705,Loralai,PK,30.3705,68.5980,42.78,42,0,1.97,clear sky
706,Bay Roberts,CA,47.5999,-53.2648,30.00,82,64,3.22,broken clouds
707,Juelsminde,DK,55.7088,10.0167,34.00,82,100,8.99,light snow
708,Tambovka,RU,50.0969,128.0489,-16.60,76,0,4.47,clear sky

In [134]:
del city_data_df['Unnamed: 0']

In [135]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [136]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,Faanui,PF,-16.4833,-151.7500,81.52,75,94,14.65,light rain
2,Rikitea,PF,-23.1203,-134.9692,77.86,77,19,13.89,few clouds
3,Carauari,BR,-4.8828,-66.8958,79.99,88,96,0.13,light rain
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.60,69,0,23.02,clear sky
5,Saldanha,ZA,-33.0117,17.9442,78.80,57,0,3.44,clear sky
6,Taganak,PH,6.0833,118.3000,75.20,100,40,7.74,moderate rain
10,Saint-Philippe,RE,-21.3585,55.7679,80.60,83,90,2.30,light rain
15,Manavalakurichi,IN,8.1333,77.3000,80.60,89,75,14.36,mist
16,Hithadhoo,MV,-0.6000,73.0833,82.06,75,100,21.32,overcast clouds
30,Saint-Georges,GD,12.0564,-61.7485,82.40,69,20,13.80,few clouds

In [137]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City           240
Country        240
Lat            240
Lng            240
Max Temp       240
Humidity       240
Cloudiness     240
Wind Speed     240
Description    240
dtype: int64

In [138]:
len(preferred_cities_df['City'])

240

In [139]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,Faanui,PF,-16.4833,-151.7500,81.52,75,94,14.65,light rain
2,Rikitea,PF,-23.1203,-134.9692,77.86,77,19,13.89,few clouds
3,Carauari,BR,-4.8828,-66.8958,79.99,88,96,0.13,light rain
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.60,69,0,23.02,clear sky
5,Saldanha,ZA,-33.0117,17.9442,78.80,57,0,3.44,clear sky
...,...,...,...,...,...,...,...,...,...
687,Mbabane,SZ,-26.3167,31.1333,77.00,94,95,3.44,light rain
689,Porto Novo,BJ,6.4965,2.6036,82.40,83,20,14.97,few clouds
690,Nanakuli,US,21.3906,-158.1547,82.40,57,1,8.05,clear sky
695,Tabou,CI,4.4230,-7.3528,78.22,85,99,6.53,moderate rain
700,Bibiani,GH,6.4635,-2.3194,72.84,92,38,2.82,scattered clouds

In [140]:
clean_df = clean_df.rename(columns={'Description' : 'Current Description'})

In [141]:
clean_df.head(5)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Faanui,PF,-16.4833,-151.7500,81.52,75,94,14.65,light rain
2,Rikitea,PF,-23.1203,-134.9692,77.86,77,19,13.89,few clouds
3,Carauari,BR,-4.8828,-66.8958,79.99,88,96,0.13,light rain
4,Sao Joao Da Barra,BR,-21.6403,-41.0511,80.60,69,0,23.02,clear sky
5,Saldanha,ZA,-33.0117,17.9442,78.80,57,0,3.44,clear sky

In [142]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Faanui,PF,81.52,light rain,-16.4833,-151.7500,
2,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,
3,Carauari,BR,79.99,light rain,-4.8828,-66.8958,
4,Sao Joao Da Barra,BR,80.60,clear sky,-21.6403,-41.0511,
5,Saldanha,ZA,78.80,clear sky,-33.0117,17.9442,
6,Taganak,PH,75.20,moderate rain,6.0833,118.3000,
10,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,
15,Manavalakurichi,IN,80.60,mist,8.1333,77.3000,
16,Hithadhoo,MV,82.06,overcast clouds,-0.6000,73.0833,
30,Saint-Georges,GD,82.40,few clouds,12.0564,-61.7485,

In [143]:
trelew = clean_hotel_df.loc[(hotel_df['City'] == 'Trelew')]
trelew

      City Country  Max Temp Current Description     Lat      Lng Hotel Name
97  Trelew      AR     79.61       broken clouds -43.249 -65.3051

In [144]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception:
        continue

In [146]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Faanui,PF,81.52,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,Pension Maro'i
3,Carauari,BR,79.99,light rain,-4.8828,-66.8958,Hotel Fellip
4,Sao Joao Da Barra,BR,80.60,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
5,Saldanha,ZA,78.80,clear sky,-33.0117,17.9442,Blue Bay Lodge
6,Taganak,PH,75.20,moderate rain,6.0833,118.3000,Taganak
10,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
15,Manavalakurichi,IN,80.60,mist,8.1333,77.3000,Udaya Boys Hostel
16,Hithadhoo,MV,82.06,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Saint-Georges,GD,82.40,few clouds,12.0564,-61.7485,Siesta Hotel

In [151]:
clean_hotel_df['Hotel Name'] = clean_hotel_df['Hotel Name'].str.replace('"','')

In [152]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Faanui,PF,81.52,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
2,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,Pension Maro'i
3,Carauari,BR,79.99,light rain,-4.8828,-66.8958,Hotel Fellip
4,Sao Joao Da Barra,BR,80.60,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
5,Saldanha,ZA,78.80,clear sky,-33.0117,17.9442,Blue Bay Lodge
6,Taganak,PH,75.20,moderate rain,6.0833,118.3000,Taganak
10,Saint-Philippe,RE,80.60,light rain,-21.3585,55.7679,Chambres d'hôte La Trinité
15,Manavalakurichi,IN,80.60,mist,8.1333,77.3000,Udaya Boys Hostel
16,Hithadhoo,MV,82.06,overcast clouds,-0.6000,73.0833,Scoop Guest House
30,Saint-Georges,GD,82.40,few clouds,12.0564,-61.7485,Siesta Hotel

In [153]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df['Hotel Name'].isnull().sum()

0

In [154]:
# 8a. Create the output File (CSV)
#output_data_file = "Weather_Database/WeatherPy_Database.csv"
output_data_file = os.path.join(parentDirectory, "Vacation_Search/WeatherPy_vacation.csv")

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [155]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [156]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))