## Deliverable 3. Create a Travel Itinerary Map.

In [14]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
parentDirectory = os.path.abspath(os.path.join(os.getcwd(), os.pardir))

vacation_df = pd.read_csv(os.path.join(parentDirectory, "Vacation_Search/WeatherPy_vacation.csv"))
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Faanui,PF,81.52,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
1,2,Rikitea,PF,77.86,few clouds,-23.1203,-134.9692,Pension Maro'i
2,3,Carauari,BR,79.99,light rain,-4.8828,-66.8958,Hotel Fellip
3,4,Sao Joao Da Barra,BR,80.60,clear sky,-21.6403,-41.0511,Pousada Porto De Canoas
4,5,Saldanha,ZA,78.80,clear sky,-33.0117,17.9442,Blue Bay Lodge

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [164]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Cape Town']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Cape Town']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Hermanus']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Kruisfontein'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'East London']

In [165]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
12,41,Cape Town,ZA,73.99,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

In [197]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [198]:
# Below is the alternative method to create the lat,long values inside a tuple

vacation_start_list = vacation_start.values.tolist()
vacation_end_list = vacation_end.values.tolist()
vacation_stop1_list = vacation_stop1.values.tolist()
vacation_stop2_list = vacation_stop2.values.tolist()
vacation_stop3_list = vacation_stop3.values.tolist()

In [199]:
# Below is the second half of the alternative method to create the lat,long values inside a tuple

#start = pd.DataFrame(vacation_start['Lat']).to_numpy()
start_1 = tuple(vacation_start_list[0][5:7])
end_1 = tuple(vacation_end_list[0][5:7])
stop1_1 = tuple(vacation_stop1_list[0][5:7])
stop2_1 = tuple(vacation_stop2_list[0][5:7])
stop3_1 = tuple(vacation_stop3_list[0][5:7])

In [200]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
SA_walking_route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='WALKING',)
fig.add_layer(SA_walking_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [177]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,41,Cape Town,ZA,73.99,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
1,172,Hermanus,ZA,71.01,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
2,270,Kruisfontein,ZA,71.01,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
3,213,East London,ZA,73.36,light rain,-33.0153,27.9116,Tu Casa

In [181]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [193]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(-34.0, 23.0), zoom_level=6.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))